<html> 
 <body> <h3>Melissa is my beautiful sister. I want to travel with her to California</h3>
       <h1> My node's name is <%= node['fqdn'] %></h1>
	<pre>
      <%= node['hostname'] %>
      <%= node['platform'] %> - <%= node['platform_version'] %>
      <%= node['memory']['total'] %> RAM
      <%= node['cpu']['total'] %> CPUs
      <%= node['kernel']['machine'] %> Kernel
      <h3> My message  <%= node['apache']['greetings'] %> !!! </h3> 
      <h1> <blink> We love <%= @site_name %> </blink> </h1>
    </pre>
<p> Served from <%= node['ipaddress'] %>: <%= @port %> </p>
 </body>
</html>
